/* === Dropdown section === */
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D1D1D1;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.dropdown button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown-arrow {
    display: inline-block;
    background-image: url(../assets/img/arrow_drop_down.svg);
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

/* === Contact & Checkbox section === */
.contact-circle {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
}

.checkbox {
    background-image: url(../assets/img/check_button_unchecked.svg);
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-right: 16px;
}

.checkbox.checked {
    background-image: url(../assets/img/check_button_checked.svg);
}

/* === Field description section === */
.field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.field-description> :first-child {
    margin-bottom: 8px;
}

.field-description input {
    border: 2px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.field-description textarea {
    border: 2px solid #D1D1D1;
    padding: 20px 8px;
    border-radius: 10px;
    font-size: 24px;
    resize: none;
    cursor: pointer;
    height: 200px;
}

/* === Contacts list section === */
.assigned-to {
    min-height: auto;
}

.category {
    position: relative;
}

.contacts-list {
    background-color: white;
    border: 2px solid #D1D1D1;
    padding: 8px 0;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 20;
    margin-top: 2px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 125ms ease, opacity 125ms ease;

}

.contacts-list.open {
    max-height: 220px;
    opacity: 1;
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}

.contacts-list ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 200px;
    width: 100%;
    padding-left: 0;
}

.contacts-list li {
    padding: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
}

/* === Priority icons section === */
.urgent-img {
    background-image: url(../assets/img/prio_urgent.svg);
}

.medium-img {
    background-image: url(../assets/img/prio_medium.svg);
}

.low-img {
    background-image: url(../assets/img/prio_low.svg);
}

/* === Subtask section === */
.subtask-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.subtask-input {
    border: 2px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.subtask-actions {
    display: none;
    gap: 6px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    gap: 6px;
}

.subtask-field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    position: relative;
}

#subtask {
    width: 100%;
    padding-right: 70px;
    box-sizing: border-box;
}

.subtask-close-btn {
    background-image: url(../assets/img/cancel_x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.subtask-btn-divider {
    height: 24px;
    width: 2px;
    background-color: #EEEEEE;
    border-radius: 2px;
}

.subtask-submit-btn {
    background-image: url(../assets/img/check_dark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.added-tasks ul {
    padding-left: 0;
}

.added-tasks {
/*    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;*/
    width: 100%;
    overflow-y: auto;
    max-height: 150px;
}

.subtask-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 4px 4px 4px 1.5em;
    border-radius: 10px;
    position: relative;
}

.subtask-text {
    flex: 1;
    white-space: normal;
    word-break: break-word;
}

.subtask-list::before {
    content: "•";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.subtask-element-img-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subtask-edit-btn {
    background-image: url(../assets/img/subtask_edit_btn.svg);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
    cursor: pointer;
    background-color: #EEEEEE;
    border: none;
}

.subtask-delete-btn {
    background-image: url(../assets/img/subtask_delete_btn.svg);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
    cursor: pointer;
    background-color: #EEEEEE;
    border: none;
}

.subtask-btn-divider-secondary {
    height: 32px;
    width: 2px;
    background-color: #D1D1D1;
    border-radius: 2px;
}

.subtask-edit-list {
    background-color: white;
    border-bottom: 1px solid #29abe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.subtask-edit {
    flex: 1;
    white-space: normal;
    word-break: break-word;
}

.subtask-edit-btn-wrapper {
    display: flex;
    gap: 4px;
    display: flex;
    align-items: center;
}

.subtask-save-btn {
    background-image: url(../assets/img/subtask_check.svg);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
}

.subtask-delete-btn-secondary {
    background-image: url(../assets/img/subtask_delete_btn.svg);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
}

.subtask-btn-divider-tertiary {
    height: 24px;
    width: 2px;
    background-color: #D1D1D1;
    border-radius: 2px;
}

body:has(dialog[open]) {
    overflow: hidden;
}

.n-ImageGallery {
    margin-top: -14px;
    display: none;
    opacity: 0;
    transform: translateY(-40px);
    /* Startet 40px weiter oben */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Die Animations-Klasse, die per JS hinzugefügt wird */
.n-ImageGallery.animate-slide {
    opacity: 1;
    transform: translateY(0);
    /* Slidet an die originale Position */
}