.priority-stages {
    display: flex;
}

#taskPrirority {
    display: none;
}

#taskCategory {
    display: none;
}

.crate-btn {
    background-image: url(../assets/img/check.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

#btnDialogRight {
    width: auto;
}

.notForShow {
    display: block;
}

#taskPriority {
    display: none;
}

.priority,
.assigned,
.category,
.subtask {
    width: 100%;
}


.add-task-dialog-board {
    border: none;
    z-index: 1000;
}


.main-DialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}


.header-show-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.add-task-dialog-board .buttons {
    width: 30%;
}

.close-btn-container {
    border-radius: 50px;
}

.close-btn-container button {
    border: none;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 24px;
}

.close-btn-container button:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
}

#btnDialogRightContent {
    color: white;
    margin-right: 8px;
}

.creatorContent {
    display: none;
}

.filpicker-content {
    display: flex;
    width: 100%;
}

.onlyShowTask {
    display: none !important;
}

dialog {
    width: 80%;
}

@media(max-width: 1290px) {
    .add-task-dialog-board .buttons {
        width: 40%;
    }
}

@media(max-width: 900px) {
    #buttons_dialog {
        width: 50%
    }
}

@media(max-width: 1220px) {
    .bottom-container {
        margin-bottom: 1px !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        background: #fff;
        border-top: 0;
        box-shadow: none;
        z-index: 1000;
        flex-shrink: 0;
        height: 100px;
        overflow-x: hidden;
    }

    .required-desktop {
        display: none;
    }

    .page-container {
        width: 100%;
        height: calc(80vh - 100px);
        overflow-y: scroll;
        flex-direction: column;
        margin-right: 0;
        padding-bottom: 200px;
    }

    .taskHeader {
        font-size: 40px;
    }

    .main-DialogContent {
        position: relative;
        padding-bottom: 0;
    }

    #dialaogBoardTask {
        padding: 16px !important;
    }

    #buttons_dialog {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 40px;
        left: 4px;
        gap: 2px;
    }
}

@media(max-width: 420px) {
    #dialaogBoardTask {
        padding: 12px !important;
    }

    .add-task-dialog-board .txt-img {
        padding: 10px 2px;
        font-size: 15px;
    }

    .add-task-dialog-board .prio-img {
        height: 16px;
        width: 14px;
    }

    #btnDialogRight {
        padding: 16px 4px;
    }

    #btnDialogLeft {
        padding: 14px 4px;
    }

    #dialaogBoardTask {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    dialog {
        width: 95vw;
        height: 95vh;
        top: 0;
        left: 0;
    }
}

.task-gallery-download {
    display: none !important;
}

.task-gallery-delete {
    display: block !important;
}