.dialog-contact {
    min-width: 1131px;
    border: none;
    border-radius: 30px;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    /*overflow-y: auto;*/
}

.dialog-contact::-webkit-scrollbar {
    display: none;
}

.dialogOpened {
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s ease-in;
}

.dialogClosed {
    transform: translateX(150%) translateY(-50%);
    transition: all 0.5s ease-in;
}

dialog::backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.dialogOpened::backdrop {
    opacity: 1;
    transition: all 0.25s ease-in;
}

.add-contact-container {
    display: flex;
    flex-direction: row;
}

.add-contact-left-box {
    background-color: #2A3647;
    padding: 150px 32px;
}

.left-box-content {
    min-height: 225px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.join-img {
    width: 55px;
    height: 66px;
}

.add-contact-underline {
    border: 2px solid #29ABE2;
    width: 100px;
}

.span-add {
    color: white;
    font-size: 61px;
    font-weight: bold;
}

.span-team {
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.add-contact-right-box {
    padding-top: 40px;
    padding-right: 16px;
}

.right-box-container {
    padding-left: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.btn-close-container {
    display: flex;
    justify-content: end;
    padding-bottom: 50px;
}

.btn-close-box {
    border-radius: 50px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

.btn-close-box:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.btn-close-box img {
    height: 24px;
    width: 24px;
}

.person-container {
    background-color: #EEEEEE;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-container img {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input::placeholder {
    opacity: 0.4;
}

.bg-input {
    width: 420px;
    padding: 14px 20px;
    font-size: 18px;
    color: black;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 22px 22px;
}

.bg-input:not([readonly]):focus {
    outline: 1px solid #29ABE2;
}

.bg-img-name {
    background-image: url('../assets/img/person_icon.svg');
}

.bg-img-mail {
    background-image: url('../assets/img/mail.svg');
}

.bg-img-phone {
    background-image: url('../assets/img/phone_receptor.svg');
}

.form-ctrl-container {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 16px;
}

.btn-cancel {
    color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-cancel:hover {
    cursor: pointer;
    border-color: #29ABE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.btn-cancel:active {
    border-color: #091931;
    transform: translateY(0);
}

.btn-cancel span {
    color: #2A3647;
    font-size: 21px;
}

.dialog-msg {
    background-color: #2A3647;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0.1px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(300%) translateY(0px);
}

.dialog-msg span {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.msg-opened {
    transform: translateX(0px) translateY(0px);
    transition: all 0.25s ease-in;
}

.msg-closed {
    transform: translateX(500%) translateY(0px);
    transition: all 0.5s ease-in;
}

.dialog-msg::backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.msg-opened::backdrop {
    opacity: 1;
    transition: all 0.25s ease-in;
}

.btn-delete {
    padding: 12px 16px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    white-space: nowrap;
}

.btn-delete span {
    color: #2A3647;
    font-size: 21px;
    font-weight: 400;
}

.btn-delete:hover {
    cursor: pointer;
    border-color: #29ABE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.btn-delete span:hover {
    color: #29ABE2;
}

.btn-delete span:active {
    color: #091931;
}

.edit-initials {
    font-size: 47px;
    font-weight: 500;
    color: white;
}

.btn-close-container-top {
    display: none;
}

.overlay-box {
    flex-grow: 1;
    display: flex;
}

.overlay-flex {
    display: flex;
    align-items: center;
}

.overlay-center {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-span {
    padding-left: 8px;
    font-size: 14px;
    color: #E60026;
}

.file-input-container {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.deleteProfileImg {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    height: 24px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteProfileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media(max-width:1180px) {
    .dialog-contact {
        min-width: 800px;
    }

    .span-add {
        font-size: 36px;
    }

    .span-team {
        font-size: 18px;
    }

    .right-box-container {
        padding-left: 24px;
        gap: 24px;
    }

    .person-container {
        width: 80px;
        height: 80px;
    }

    .person-container img {
        height: 32px;
        width: 32px;
    }

    .btn-cancel span {
        font-size: 16px;
    }

    .edit-initials {
        font-size: 32px;
    }

    .btn-delete span {
        font-size: 16px;
    }
}

@media(max-width:850px) {
    .dialog-contact {
        min-width: 500px;
        height: calc(85vh - 1px);
    }

    .add-contact-container {
        flex-direction: column;
    }

    .join-img {
        display: none;
    }

    .add-contact-left-box {
        padding: 16px 16px;
        height: 30vh;
    }

    .add-contact-right-box {
        padding-top: 0px;
        padding-right: 0px;
        height: calc(70vh - 198px);
    }

    .add-contact-underline {
        margin-bottom: 32px;
    }

    .btn-close-container {
        display: none;
    }

    .btn-close-container-top {
        display: flex;
        justify-content: end;
    }

    .btn-close-box-top {
        border-radius: 50px;
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 4px;
    }

    .btn-close-box-top:hover {
        cursor: pointer;
    }

    .btn-close-box-top:active {
        background-color: #29ABE2;
    }

    .close-img {
        height: 16px;
        width: 16px;
    }

    .right-box-container {
        padding-top: 60px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .form-ctrl-container {
        justify-content: center;
    }

    .btn-cancel {
        display: none;
    }

    .person-container {
        border: 3px solid white;
        width: 100px;
        height: 100px;
        position: absolute !important;
        top: calc(30vh - 50px);

    }

    .person-container img {
        height: 50px;
        width: 50px;
    }

    .bg-input {
        width: 100%;
        font-size: 16px;
        padding: 8px 8px;
    }

    .left-box-content {
        min-height: 100%;
        gap: 0px;
    }

    .dialog-contact {
        transform: translate(-50%, 100%);
    }

    .dialogOpened {
        transform: translateX(-50%) translateY(-50%);
    }

    .dialogClosed {
        transform: translateX(-50%) translateY(100%);
    }

    .dialog-msg {
        transform: translateX(-50%) translateY(500%);
    }

    .dialog-msg span {
        font-size: 14px;
    }

    .msg-opened {
        transform: translateX(-50%) translateY(0px);
    }

    .msg-closed {
        transform: translateX(-50%) translateY(500%);
    }

    form {
        width: 100%;
        gap: 18px;
        padding-top: 48px;
    }

    .overlay-center {
        gap: 12px;
    }

    .mail-info {
        min-height: 55px;
    }

    .deleteProfileImg {
        height: 12px;
        color: white;
    }

    .deleteProfileImg img {
        width: 24px;
        height: 24px;
    }
}

@media(max-width:550px) {
    .dialog-contact {
        min-width: 300px;
    }

    form {
        gap: 12px;
    }
}