.contactAvater {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
    position: relative;
}

.contactAvater {
    min-width: 42px;
    min-height: 42px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
    object-fit: cover;
}

.AvatarArray {
    display: flex;
}

.AvatarArray .contactAvater:not(:first-child) {
    margin-left: -10px;
}

.AvatarArray .contactAvater {
    z-index: 1;
}

.AvatarArray .contactAvater:nth-child(n) {
    z-index: auto;
}

.AvatarArray .contactAvater:last-child {
    z-index: 10;
}

@media(max-width:1180px) {
    .contactAvater {
        min-width: 36px;
        min-height: 36px;
        font-size: 14px;
        width: 64px !important;
    }
}

@media(max-width:850px) {
    .contactAvater {
        min-width: 42px;
        min-height: 42px;
        font-size: 16px;
        width: 64px !important;
    }
}