.contact-show-design{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 16px;
}

.contact-head{
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-circle{
    min-height: 120px;
    min-width: 120px;
    border: 2px solid white;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
        color: white;
    font-size: 47px;
    font-weight: 500;
}

.name-line{
    font-size: 40px;
    font-weight: 500;
    word-break: break-word;
}

.contact-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-ctrl-box{
    display: flex;
    gap: 16px;
}

.btn-contact-ctrl{
    cursor: pointer;
}

.contact-info-span{
    font-size: 20px;
    font-weight: 400;
}

.contact-data-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bold-line{
    font-size: 16px;
    font-weight: bold;
}

.mail-info-box{
    font-size: 16px;
    font-weight: 400;
    color: #007CEE;
    word-break: break-word;
}

.mail-info-box:hover{
    font-size: 17px;
}

.phone-info-box{
    font-size: 16px;
    font-weight: 400;
}

.phone-info-box:hover{
    font-size: 17px;
}

.ctrl-edit-mobile-container{
    position: fixed;
    bottom: 130px;
    right: 20px;
    z-index: 20;
}

.ctrl-edit-mobile{
    max-width: 120px;
    padding: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-edit-mobile{
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
}

.btn-edit-mobile:active{
    background-color: #f6f7f8;
}

@media(max-width:1180px){
    .contact-head{
        gap: 24px;
    }

    .contact-circle{
        min-height: 80px;
        min-width: 80px;
        border-radius: 50px;
        font-size: 32px;
    }

    .name-line{
        font-size: 32px;
    }
}

@media(max-width:850px){
    .contact-head{
        padding-top: 40px;
        gap: 12px;
    }

    .contact-circle{
        min-height: 64px;
        min-width: 64px;
       font-size: 24px; 
    }

    .contact-visibility{
        display: none;
    }

    .name-line{
        font-size: 20px;
    }

    .contact-info-span{
        font-size: 16px;
    }
}