body.privacy-policy p:not(:is(aside p)):not(:is(footer p)) {
    color: black;
    line-height: 20px;
    text-align: justify;
}


.padding {
    padding-bottom: 20px;
}

.privacy-policy-title {
    padding: 24px 0;
    justify-self: flex-start;
}

.title-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.arrow-left {
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: none;
}


h2 {
    font-size: 32px;
    text-align: left;
    padding: 16px 0;
}

h3 {
    font-size: 28px;
    text-align: left;
    padding: 16px 0;
    color: black;
}

h4 {
    font-size: 24px;
    text-align: left;
    padding: 16px 0;
    color: black;
}

.main-content {
    width: 100%;
    max-width: 1440px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-break: break-word;
}

.legal-notice-elements.active {
    background-color: #091931;
    padding: 8px 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.legal-notice-container a.active {
    font-size: 16px;
    color: #cdcdcd;
}


.lists {
    line-height: 30px;
}

.blue {
    color: #29ABE2;
}

@media(max-width: 850px) {
    .main-content {
        margin-bottom: 100px;
    }

    .arrow-left {
        display: block;
    }
}

@media(max-width: 400px) {
    main {
        padding-left: 16px;
        padding-right: 16px;
    }

    .privacy-policy-title {
        font-size: 50px;
    }

    .main-content {
        padding: 0;
    }

    ul{
        padding-left: 10px;
    }
}