/* Styling of the mobile overlay */
.mobile-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    pointer-events: none;
}

.mobile-overlay p {
    font-size: 36px;
    color: #2A3647;
    text-align: center;
    flex-wrap: wrap;
}

.mobile-username {
    color: #29ABE2;
    font-weight: 700;
    font-size: 45px;
}

.mobile-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Main styling*/
main {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-bottom: 40px;
}

.divider-line {
    height: 60px;
    width: 4px;
    background-color: #29abe2;
    border-radius: 2px;
}

.page-title span {
    font-size: 28px;
    color: #2A3647;
}

.page-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
}

.greeting p {
    font-size: 47px;
    color: #2A3647;
    padding-right: 20px;
    font-weight: 500;
}

#username {
    color: #29ABE2;
    font-weight: 700;
    font-size: 60px;
}

.to-do {
    display: flex;
    justify-content: space-between;
}

.to-do-container,
.done-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    border-radius: 24px;
    padding: 32px 40px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.edit-icon {
    width: 38px;
    height: 38px;
    background-image: url('../assets/img/edit_btn.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.done-icon {
    width: 38px;
    height: 38px;
    background-image: url('../assets/img/checkbox.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-wrapper {
    height: 60px;
    width: 60px;
    background-color: #2a3647;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do-container-numbers,
.done-container-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 64px;
    font-weight: 600;
    color: black;
}

h3 {
    font-size: 20px;
    color: #2A3647;
}

h4 {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
    text-align: center;
}

.middle-icon-wrapper {
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    background-color: #ff3d00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-icon {
    width: 38px;
    height: 38px;
    background-image: url('../assets/img/prio_urgent_white.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stats-divider-line {
    height: 100px;
    width: 2px;
    background-color: #D1D1D1;
}

.datum-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.datum-container p {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

.datum-container span {
    font-size: 16px;
    color: #2A3647;
}

.tasks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    gap: 20px;
}

/* Hover effects */

.to-do-container:hover,
.done-container:hover {
    background-color: #2a3647;
    color: white;
    transform: scale(1.030);
}

.to-do-container:hover h2,
.to-do-container:hover h3,
.to-do-container:hover h4,
.done-container:hover h2,
.done-container:hover h3,
.done-container:hover p,
.done-container:hover span {
    color: white;
}

.to-do-container:hover .icon-wrapper,
.done-container:hover .icon-wrapper {
    background-color: white;
}

.to-do-container:hover .edit-icon {
    background-image: url('../assets/img/edit_btn_dark.svg');
}

.done-container:hover .done-icon {
    background-image: url('../assets/img/checkbox_dark.svg');
}

#aiTaskCount {
    background: linear-gradient(180deg, #8933FC 0%, #29ABE2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Media queries */
@media (max-width: 1900px) {
    .main-content {
        padding-left: 20px;
    }
}

@media (max-width: 1850px) {
    .main-content {
        padding-left: 40px;
    }
}


@media (max-width: 1800px) {
    .main-content {
        margin-left: 220px;
        padding-left: 20px;
    }
}

@media (max-width: 1500px) {
    .stats {
        width: 50%;
    }

    .main-content {
        margin-top: 110px;
    }
}

@media (max-width: 1300px) {
    .stats {
        width: 60%;
    }

    .page-info {
        gap: 40px;
    }

    .greeting {
        width: 50%;
    }
}

@media (max-width: 1230px) {
    .greeting {
        display: none;
    }

    .stats {
        width: 80%;
    }

    .page-info {
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .stats {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .main-content {
        margin-top: 80px;
        margin-left: 0;
        margin-bottom: 120px;
    }

    .page-title {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
    }

    .page-title h1 {
        font-size: 40px;
    }

    .page-info h2 {
        font-size: 36px;
    }

    .page-title span {
        font-size: 20px;
    }

    .divider-line {
        width: 110px;
        height: 4px;
        order: 1;
    }

    .stats {
        width: 100%;
        gap: 20px;
    }

    .to-do-container,
    .done-container {
        padding: 28px 35px;
    }
}

@media(max-width:550px) {
    .page-title span {
        font-size: 24px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 14px;
    }

    #datum {
        font-size: 16px;
    }

    .datum-container span {
        font-size: 14px;
    }
}

@media (max-width:450px) {

    .icon-wrapper,
    .middle-icon-wrapper {
        height: 48px;
        width: 48px;
    }

    .edit-icon,
    .done-icon,
    .middle-icon {
        height: 32px;
        width: 32px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    .to-do-container,
    .done-container {
        padding: 20px 24px;
    }

    .done-container.middle {
        gap: 20px;
    }

}

@media(max-width: 380px) {
    .to-do {
        gap: 8px;
    }

    .middle-icon,
    .edit-icon {
        height: 30px;
        width: 30px;
    }

    .to-do-container,
    .done-container {
        padding: 16px 10px;
    }

    .tasks .to-do-container {
        padding: 16px 18px;
        gap: 2px;
    }
}

@media(max-width: 360px) {
    .middle-icon-wrapper {
        height: 46px;
        width: 60px;
    }
}

@media(max-width: 320px) {
    .middle-icon-wrapper {
        height: 42px;
    }
}

@media (max-width: 850px) {
    .stats div.tasks {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: stretch;
        gap: 8px;
        width: 100%;
    }

    .done-container.middle {
        flex: 1.8;
        min-width: 0;
        padding: 12px 8px !important;
        gap: 8px !important;
    }
}

@media (max-width: 1230px) {
    main {
        overflow-y: auto !important;
    }
}


html,
body {
    /*overflow-y: scroll !important;*/
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    display: block !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 600px) {
    #prio_container {
        flex: 2;
    }

    #aiTaskContainer {
        flex: 1;
    }
}